html{
    height: 100%;
    font-size: 1em;
}

body{
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.app{
    height: 100%;
    display: flex;
    flex-flow: column
}

.header{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid grey;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    display: flex;
    flex-flow: row;
    flex-grow: 1;
}

.menu{
    width: 15%;
    background: #2A4E72;
    flex-grow: 1;
    z-index: 1;
}

.messagelist{
    width: 20%;
    background: #E8E7E8;
    padding: 0px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid darkgrey;
}

.thread{
    height: 140px;
    border-bottom: 1px solid darkgrey;
    padding: 5px;
}

.thread:nth-child(2){
    background-color: white; 
}

.messages{
    width: 65%;
    background: white;
    display: flex;
    flex-direction: column;
}

.messageHeader{
    font-weight: bold;
    border-bottom: grey 1px solid;
    padding: 10px; 
}

.message{
    padding: 10px;
    border-bottom: grey 1px solid;
}

.profile{
    color: lightblue;
    align-self: flex-end;
    margin-right: 15px;
    font-size: 1em;
}

.hamburgerMenu {
    display: none; 
}

.inboxBanner{
    background-color: #2A4E72;
    display: none;    
}

.newMessage{
    background-color: #4880BD;
    border-radius: 5px;
    color: white;
    height: 40px;
    margin: 15px;
}

@media all and (max-width: 600px) {
    html{
        font-size: 2em;
    }

    .container{
        flex-flow: column;
    }

    .inboxBanner{
        display:flex;
    }

    .hamburgerMenu{
        font-size: .5em;
        display:flex;
        align-self: flex-start;
        align-items: center;
        justify-content: center;
    }

    .menu{
        display: none;
    }

    .messagelist{
        width: 100%;
        background-color: #2A4E72;
        color: white;
        display:none;
    }

    .messages{
        width: 100%;
        flex-grow: 1;
    }
}