.container{
    height: 700px;
    padding: 20px;
    background: white;
}

.searchbar{
    height: 40px;
    border-bottom: 1px solid #c9c7c5;
    font-size: 16px;
}

.searchinput{
    height: 100%;
    width: 100%;
}

::placeholder{
    font-size: 16px;
}

.searchbutton{
    height: 100%;
    width: 100%;
    background: #0070d2;
    border: none;
    color: white;
}

.searchbutton:hover{
    background: #253045;
}

.searchbutton:active{
    background: #0070d2;
}

.resultsTable{
    padding-top: 20px;
}

.cell{
    padding: 10px;
    display: flex;
    align-items: center;
}

p{
    padding-left: 10px;
}

.tableheader{
    border-top: 1px solid #c9c7c5;
    border-bottom: 1px solid #c9c7c5;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.headercell{
    background: #005583;
    color: white;
    border-right: 1px solid #c9c7c5;
}

.headercell:first-child{
    border-left: 1px solid #c9c7c5;
    border-top-left-radius: 7px;
}

.headercell:last-child{
    border-top-right-radius: 7px;
}

.tablerows{
    height: 200px;
    border-left: 1px solid #c9c7c5;
    border-right: 1px solid #c9c7c5;
}

.row{
    border-bottom: 1px solid #c9c7c5;
}

.rowcell{
    border-right: 1px solid #c9c7c5;
}

.rowcell:last-child{
    padding: 0px;
    border: none;
}

.tablefooter{
    height: 40px;
    width: 100%;
    background: #c9c7c5;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    justify-content: center;
}

.bookmark{
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    background: #04844b;
}

.bookmark:hover{
    background: #253045;
    color: white;
}

.bookmark:active{
    background: #505050;
}

.divider{
    height: 20px;
}

.back{
    margin-left: 20px;
    border-radius: 5px;
}

.next{
    margin-right: 20px;
    border-radius: 5px;
}

.currentpages{
    display: flex;
    align-items: center;
    margin: 0px 20px 0px 0px;
}